@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=League+Spartan:wght@100..900&family=Playwrite+AU+NSW:wght@100..400&display=swap');


#root {
  color: black;
  background-color: white;
  text-align: center;
}

.background-dark {
  background-color:  #080009fb;
  padding: 10px;
  block-size: fit-content;
}

.container-white-text {
  color: white;
  height: 850px;
  block-size: fit-content;
}

h2 {
  text-decoration: underline;
}

/* Nav */

.nav {
  width: 50%;
  overflow: auto;
  display: flex;
  margin: 0 auto;
}

.nav a {
  color: rgb(117, 117, 117);
  width: 25%;
  text-align: center;
}

#about {
  color: white;
}

.nav a:hover {
  color: white;
}

/* About */

#about_me{
  margin-top: 80px;
  margin-bottom: 120px;
}

.daisypic {
  width: 30%;
  height: 70%;
  object-fit: cover;
  opacity: 0.68;
  border-radius: 5px 100px 100px 5px;
  object-position: 100% 35%;
  margin: 0 auto;
  margin-top: 30px;
}

#myname {
  font-size: 9.5rem;
  width: 50%;
  height: 1.3%;
  margin-top: 3%;
  font-family: "League Spartan", sans-serif;
  font-weight: 550;
  font-style: normal;
  color: rgb(2, 206, 206);
}

.slide-left {
    position: absolute;
    background: rgb(2, 206, 206);
    -webkit-animation: slide 0.4s forwards;
    -webkit-animation-delay: 0.2s;
    animation: slide 0.4s forwards;
    animation-delay: 0.2s;
}

.slide-right {
  position: relative;
  float: right;
  text-align: right;
  margin-right: 20%;
  -webkit-animation: slide2 0.5s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide2 0.5s forwards;
  animation-delay: 0.2s;
}

#intro-p {
  font-size: 1.6rem;
  width: 44%;
  margin-top: -14%;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: white;
}

@-webkit-keyframes slide {
    0% {
      transform: translateX(-500px)
    }
    100% { transform: skew(0deg);
    }
}

@keyframes slide {
  0% {
    transform: translateX(-500px)
  }
  100% { transform: skew(0deg);
  }
}

@-webkit-keyframes slide2 {
  0% {
    transform: translateX(-500px)
  }
  100% { transform: skew(0deg);
  }
}

@keyframes slide2 {
0% {
  transform: translateX(500px)
}
100% { transform: skew(0deg);
}
}



/* Skills */

.skills_container {
  margin-top: 80px;
  margin-bottom: 120px;
}

.skills {
  font-size: 1.5rem;
}

/* Contacts */

.contacts_container {
  margin-top: 80px;
  margin-bottom: 120px;
}

.contacts_sns {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 40%;
}

.contacts_sns a {
  margin-right: 10px;
  margin-left: 10px;
}

.sns:hover {
  scale: 1.1;
  opacity: 0.7;
}

/* Projects */
/* Web-Based */

#projects {
  margin-top: 80px;
  margin-bottom: 120px;
}
.web-based {
  block-size: fit-content;
  margin-top: 5%;
  margin-bottom: 7%;
}

.web-based-projects {
  width: 100%;
  block-size: fit-content;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "a b";
  margin-top: 5%;
  margin-bottom: 5%;
  justify-items: center;
}

.section1{
  grid-area: a;
  display: flex;
}

.section2{
  grid-area: b;
  display: flex;
}

.project-web-img1 {
  grid-area: a;
  width: 800px;
  height: 500px;
}

.project-web-img2 {
  grid-area: b;
  width: 800px;
  height: 500px;
}

#hide1 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 800px;
  height: 500px;
  background-color:rgba(0, 65, 65, 0.609);
  font-size: 1.8rem;
  justify-content: center;
  align-content: center;
  font-family: "League Spartan", sans-serif;
}

#hide2 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 800px;
  height: 500px;
  background-color:rgba(0, 65, 65, 0.609);
  font-size: 1.8rem;
  justify-content: center;
  align-content: center;
  font-family: "League Spartan", sans-serif;
}

.section1:hover 
#hide1 {
  visibility: visible;
  opacity: 1;
}

.section2:hover 
#hide2 {
  visibility: visible;
  opacity: 1;
}

/* Mobile Apps */

.mobile-apps {
  block-size: fit-content;
}

.mobile-projects {
  width: 68%;
  block-size: fit-content;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "a b";
  margin-bottom: 5%;
  justify-items: center; 
  margin: auto;
  margin-top: 5%;
}

.mobile-img1 {
  grid-area: a;
  width: 450px;
  height: 900px;
}

.mobile-img2 {
  grid-area: b;
  width: 450px;
  height: 900px;
}

#hide3 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 450px;
  height: 900px;
  background-color:rgba(0, 65, 65, 0.609);
  font-size: 1.8rem;
  justify-content: center;
  align-content: center;
  font-family: "League Spartan", sans-serif;
}

#hide4 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 450px;
  height: 900px;
  background-color:rgba(0, 65, 65, 0.609);
  font-size: 1.8rem;
  justify-content: center;
  align-content: center;
  font-family: "League Spartan", sans-serif;
}

.section1:hover 
#hide3 {
  visibility: visible;
  opacity: 1;
}

.section2:hover 
#hide4 {
  visibility: visible;
  opacity: 1;
}