#root {
  color: black;
  background-color: white;
  text-align: center;
}

.background-dark {
  background-color:  #080009fb;
  padding: 10px;
}

.container-white {
  color: white;
}

.nav {
  width: 50%;
  overflow: auto;
  display: flex;
  margin: 0 auto;
}

.nav a {
  color: rgb(117, 117, 117);
  width: 25%;
  text-align: center;
}

#about {
  color: white;
}

.nav a:hover {
  color: white;
}
